.course-block{

    width:100%;

    height:100%;

    color:white;

    border-radius:8px;

    padding:6px;

    font-size:13px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    text-align:center;

}
.course-cell{

    vertical-align:top;

    position:relative;

}

.course-block{

    user-select:none;

}
.course-block{

    cursor:pointer;

    transition:.2s;

}

.course-block:hover{

    transform:scale(1.03);

    filter:brightness(.95);

}